<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Data</title>
    <link rel="stylesheet" href="/content/css/styles.css">
</head>
<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <img class="img-fluid rounded-circle mb-4 custom-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Current_flag_of_Provo%2C_Utah.svg/1200px-Current_flag_of_Provo%2C_Utah.svg.png" alt="Provo Mental Health" />
            <a class="navbar-brand" href="/">Provo Mental Health</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/account">Account</a></li>
                    <li class="nav-item"><a class="nav-link" href="/ourdata">Our Data</a></li>
                    <li class="nav-item"><a class="nav-link" href="/survey">Social Media Survey</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>Put the tableau dashborad here</h1>

</body>
</html>
