<!-- Professional
Is the landing page
Navigation to the views -->
<!-- views/landing.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Social Media and Mental Health - Provo</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/content/img/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/content/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="/public/css/bootstrap.min.css"/>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <img class="img-fluid rounded-circle mb-4 custom-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Current_flag_of_Provo%2C_Utah.svg/1200px-Current_flag_of_Provo%2C_Utah.svg.png" alt="Provo Mental Health" />
            <a class="navbar-brand" href="/">Provo Mental Health</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/account">Account</a></li>
                    <li class="nav-item"><a class="nav-link" href="/ourdata">Our Data</a></li>
                    <li class="nav-item"><a class="nav-link" href="/survey">Social Media Survey</a></li>
                </ul>
            </div>
        </div>
    </nav>

<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" style="background-image: url('https://images.unsplash.com/photo-1450387535869-eae5b226b40f?q=80&w=1094&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')">
    <div class="text-center my-5">
        <!-- Add a custom class to the image -->
        <h1 class="text-white fs-3 fw-bolder">Provo Mental Health Organization</h1>
    </div>
</header>


    <!-- Content section-->
    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2>Welcome!</h2>
                    <p class="lead">We gather and analyze data relating to social media and mental health.</p>
                    <p class="mb-0">Help us by taking our survey!</p>
                    <button href="/survey">Take the survey</button>
                </div>
            </div>
        </div>
    </section>
    <!-- Image element - set the background image for the header in the line below-->
    <div class="py-5 bg-image-full" style="background-image: url('https://unsplash.com/photos/brown-mountain-in-aerial-view-photography-lyisaIv5ERQ')">
        <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
        <div style="height: 20rem"></div>
    </div>

    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Group 3-4 2023</p></div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>
