<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take the Survey</title>
    <link rel="stylesheet" href="/content/css/styles.css">
</head>
<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <img class="img-fluid rounded-circle mb-4 custom-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Current_flag_of_Provo%2C_Utah.svg/1200px-Current_flag_of_Provo%2C_Utah.svg.png" alt="Provo Mental Health" />
            <a class="navbar-brand" href="/">Provo Mental Health</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/account">Account</a></li>
                    <li class="nav-item"><a class="nav-link" href="/ourdata">Our Data</a></li>
                    <li class="nav-item"><a class="nav-link" href="/survey">Social Media Survey</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>Take the survey</h1>
    <form action="/submitSurvey" method="post">
        <label for="age">Enter your age:</label><br>
        <input type="number" id="age" name="age" min="1" max="3" required>
        <br><br>
        <label for="gender">Please select your gender:</label><br>
        <input type="radio" id="male" name="gender" value="Male">
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="gender" value="Female">
        <label for="female">Female</label><br>
        <input type="radio" id="transgender" name="gender" value="Transgender">
        <label for="transgender">Transgender</label><br>
        <input type="radio" id="nonBinary" name="gender" value="Non-Binary">
        <label for="nonBinary">Non-Binary</label><br>
        <br>

        <label for="relationshipStatus">What is your relationship status?</label><br>
        <input type="radio" id="single" name="relationshipStatus" value="Single">
        <label for="single">Single</label><br>
        <input type="radio" id="married" name="relationshipStatus" value="Married">
        <label for="married">Married</label><br>
        <input type="radio" id="inRelationship" name="relationshipStatus" value="InRelationship">
        <label for="inRelationship">In a relationship</label><br>
        <input type="radio" id="divorced" name="relationshipStatus" value="Divorced">
        <label for="divorced">Divorced</label><br>
        <br>
        <label for="occupationStatus">What is your occupation status:</label><br>
        <select name="occupationStatus" id="occupationStatus">
          <option value="UniStudent">University Student</option>
          <option value="SchoolStudent">School Student</option>
          <option value="SalariedWorker">Salaried Worker</option>
          <option value="Retired">Retired</option>
        </select><br>
        <br>
        <label for="affiliatedOrganizations">Type of Organizations Affiliated With:</label><br>
        <select name="affiliatedOrganizations" id="affiliatedOrganizations" multiple>
            <option value="University">University</option>
            <option value="School">School</option>
            <option value="Government">Government</option>
            <option value="Private">Private</option>
            <option value="Company">Company</option>
            <option value="NA">N/A</option>
        </select>
        <br><br>
        <label for="useSocialMedia">Do you use social media?</label><br>
        <input type="radio" id="useSocialMediaYes" name="useSocialMedia" value="Yes">
        <label for="useSocialMediaYes">Yes</label><br>
        <input type="radio" id="useSocialMediaNo" name="useSocialMedia" value="No">
        <label for="useSocialMediaNo">No</label><br>
        <br>
        
        <label for="whatSocialMedia">What social media platforms do you use?</lable><br>
        <input type="checkbox" id="whatSocialMediaFacebook" name="whatSocialMedia" value="Facebook">
        <label for="whatSocialMediaFacebook">Facebook</label><br>
        <input type="checkbox" id="whatSocialMediaTwitter" name="whatSocialMedia" value="Twitter">
        <label for="whatSocialMediaTwitter">Twitter</label><br>
        <input type="checkbox" id="whatSocialMediaInstagram" name="whatSocialMedia" value="Instagram">
        <label for="whatSocialMediaInstagram">Instagram</label><br>
        <input type="checkbox" id="whatSocialMediaYoutube" name="whatSocialMedia" value="Youtube">
        <label for="whatSocialMediaYoutube">Youtube</label><br>
        <input type="checkbox" id="whatSocialMediaDiscord" name="whatSocialMedia" value="Discord">
        <label for="whatSocialMediaDiscord">Discord</label><br>
        <input type="checkbox" id="whatSocialMediaReddit" name="whatSocialMedia" value="Reddit">
        <label for="whatSocialMediaReddit">Reddit</label><br>
        <input type="checkbox" id="whatSocialMediaPinterest" name="whatSocialMedia" value="Pinterest">
        <label for="whatSocialMediaPinterest">Pinterest</label><br>
        <input type="checkbox" id="whatSocialMediaTikTok" name="whatSocialMedia" value="TikTok">
        <label for="whatSocialMediaTikTok">TikTok</label><br>
        <input type="checkbox" id="whatSocialMediaSnapchat" name="whatSocialMedia" value="Snapchat">
        <label for="whatSocialMediaSnapchat">Snapchat</label><br>
        <br>
        <label for="AvgTime">About how much time do you average on social media per day?</label><br>
        <input type="radio" id="AvgTimeLessThan1" name="AvgTime" value="Less than 1 hour">
        <label for="AvgTimeLessThan1">Less than 1 hour</label><br>
        <input type="radio" id="AvgTime1To2" name="AvgTime" value="Between 1 and 2 hours">
        <label for="AvgTime1To2">Between 1 and 2 hours</label><br>
        <input type="radio" id="AvgTime2To3" name="AvgTime" value="Between 2 and 3 hours">
        <label for="AvgTime2To3">Between 2 and 3 hours</label><br>
        <input type="radio" id="AvgTime3To4" name="AvgTime" value="Between 3 and 4 hours">
        <label for="AvgTime3To4">Between 3 and 4 hours</label><br>
        <input type="radio" id="AvgTime4To5" name="AvgTime" value="Between 4 and 5 hours">
        <label for="AvgTime4To5">Between 4 and 5 hours</label><br>
        <input type="radio" id="AvgTimeMoreThan5" name="AvgTime" value="More than 5 hours">
        <label for="AvgTimeMoreThan5">More than 5 hours</label><br>
        <br>
        <br>
        <p>For the following questions, please answer on a scale from 1 to 5; 1 being the lowest and 5 being the highest</p>
        <br>
        <label for="NoSpecPurpose">How often do you find yourself using social media without a specific purpose?</label><br>
        <input type="radio" id="NoSpecPurpose1" name="NoSpecPurpose" value="1">
        <label for="NoSpecPurpose1">1</label>
        <input type="radio" id="NoSpecPurpose2" name="NoSpecPurpose" value="2">
        <label for="NoSpecPurpose2">2</label>
        <input type="radio" id="NoSpecPurpose3" name="NoSpecPurpose" value="3">
        <label for="NoSpecPurpose3">3</label>
        <input type="radio" id="NoSpecPurpose4" name="NoSpecPurpose" value="4">
        <label for="NoSpecPurpose4">4</label>
        <input type="radio" id="NoSpecPurpose5" name="NoSpecPurpose" value="5">
        <label for="NoSpecPurpose5">5</label><br>
        <br>

        <label for="HowOftDisctracted">How often do you get distracted by social media when you are busy doing something?</label><br>
        <input type="radio" id="HowOftDisctracted1" name="HowOftDisctracted" value="1">
        <label for="HowOftDisctracted1">1</label>
        <input type="radio" id="HowOftDisctracted2" name="HowOftDisctracted" value="2">
        <label for="HowOftDisctracted2">2</label>
        <input type="radio" id="HowOftDisctracted3" name="HowOftDisctracted" value="3">
        <label for="HowOftDisctracted3">3</label>
        <input type="radio" id="HowOftDisctracted4" name="HowOftDisctracted" value="4">
        <label for="HowOftDisctracted4">4</label>
        <input type="radio" id="HowOftDisctracted5" name="HowOftDisctracted" value="5">
        <label for="HowOftDisctracted5">5</label><br>
        <br>

        <label for="Restless">Do you feel restless if you haven’t used social media in a while?</label><br>
        <input type="radio" id="Restless1" name="Restless" value="1">
        <label for="Restless1">1</label>
        <input type="radio" id="Restless2" name="Restless" value="2">
        <label for="Restless2">2</label>
        <input type="radio" id="Restless3" name="Restless" value="3">
        <label for="Restless3">3</label>
        <input type="radio" id="Restless4" name="Restless" value="4">
        <label for="Restless4">4</label>
        <input type="radio" id="Restless5" name="Restless" value="5">
        <label for="Restless5">5</label><br>
        <br>
        <label for="HowDistracted">How easily distracted are you?</label><br>
        <input type="radio" id="HowDistracted1" name="HowDistracted" value="1">
        <label for="HowDistracted1">1</label>
        <input type="radio" id="HowDistracted2" name="HowDistracted" value="2">
        <label for="HowDistracted2">2</label>
        <input type="radio" id="HowDistracted3" name="HowDistracted" value="3">
        <label for="HowDistracted3">3</label>
        <input type="radio" id="HowDistracted4" name="HowDistracted" value="4">
        <label for="HowDistracted4">4</label>
        <input type="radio" id="HowDistracted5" name="HowDistracted" value="5">
        <label for="HowDistracted5">5</label><br>
        <br>

        <label for="BotheredByWorries">How much are you bothered by worries?</label><br>
        <input type="radio" id="BotheredByWorries1" name="BotheredByWorries" value="1">
        <label for="BotheredByWorries1">1</label>
        <input type="radio" id="BotheredByWorries2" name="BotheredByWorries" value="2">
        <label for="BotheredByWorries2">2</label>
        <input type="radio" id="BotheredByWorries3" name="BotheredByWorries" value="3">
        <label for="BotheredByWorries3">3</label>
        <input type="radio" id="BotheredByWorries4" name="BotheredByWorries" value="4">
        <label for="BotheredByWorries4">4</label>
        <input type="radio" id="BotheredByWorries5" name="BotheredByWorries" value="5">
        <label for="BotheredByWorries5">5</label><br>
        <br>

        <label for="DiffConcentration">Do you find it difficult to concentrate on things?</label><br>
        <input type="radio" id="DiffConcentration1" name="DiffConcentration" value="1">
        <label for="DiffConcentration1">1</label>
        <input type="radio" id="DiffConcentration2" name="DiffConcentration" value="2">
        <label for="DiffConcentration2">2</label>
        <input type="radio" id="DiffConcentration3" name="DiffConcentration" value="3">
        <label for="DiffConcentration3">3</label>
        <input type="radio" id="DiffConcentration4" name="DiffConcentration" value="4">
        <label for="DiffConcentration4">4</label>
        <input type="radio" id="DiffConcentration5" name="DiffConcentration" value="5">
        <label for="DiffConcentration5">5</label><br>
        <br>
        <label for="HowOftCompare">How often do you compare yourself to other successful people through the use of social media?</label><br>
        <input type="radio" id="HowOftCompare1" name="HowOftCompare" value="1">
        <label for="HowOftCompare1">1</label>
        <input type="radio" id="HowOftCompare2" name="HowOftCompare" value="2">
        <label for="HowOftCompare2">2</label>
        <input type="radio" id="HowOftCompare3" name="HowOftCompare" value="3">
        <label for="HowOftCompare3">3</label>
        <input type="radio" id="HowOftCompare4" name="HowOftCompare" value="4">
        <label for="HowOftCompare4">4</label>
        <input type="radio" id="HowOftCompare5" name="HowOftCompare" value="5">
        <label for="HowOftCompare5">5</label><br>
        <br>

        <label for="CompFeelings">Following the previous question, how do you feel about these comparisons, generally speaking?</label><br>
        <input type="radio" id="CompFeelings1" name="CompFeelings" value="1">
        <label for="CompFeelings1">1</label>
        <input type="radio" id="CompFeelings2" name="CompFeelings" value="2">
        <label for="CompFeelings2">2</label>
        <input type="radio" id="CompFeelings3" name="CompFeelings" value="3">
        <label for="CompFeelings3">3</label>
        <input type="radio" id="CompFeelings4" name="CompFeelings" value="4">
        <label for="CompFeelings4">4</label>
        <input type="radio" id="CompFeelings5" name="CompFeelings" value="5">
        <label for="CompFeelings5">5</label><br>
        <br>

        <label for="OftValidation">How often do you look to seek validation from features of social media?</label><br>
        <input type="radio" id="OftValidation1" name="OftValidation" value="1">
        <label for="OftValidation1">1</label>
        <input type="radio" id="OftValidation2" name="OftValidation" value="2">
        <label for="OftValidation2">2</label>
        <input type="radio" id="OftValidation3" name="OftValidation" value="3">
        <label for="OftValidation3">3</label>
        <input type="radio" id="OftValidation4" name="OftValidation" value="4">
        <label for="OftValidation4">4</label>
        <input type="radio" id="OftValidation5" name="OftValidation" value="5">
        <label for="OftValidation5">5</label><br>
        <br>

        <label for="OftDepressed">How often do you feel depressed or down?</label><br>
        <input type="radio" id="OftDepressed1" name="OftDepressed" value="1">
        <label for="OftDepressed1">1</label>
        <input type="radio" id="OftDepressed2" name="OftDepressed" value="2">
        <label for="OftDepressed2">2</label>
        <input type="radio" id="OftDepressed3" name="OftDepressed" value="3">
        <label for="OftDepressed3">3</label>
        <input type="radio" id="OftDepressed4" name="OftDepressed" value="4">
        <label for="OftDepressed4">4</label>
        <input type="radio" id="OftDepressed5" name="OftDepressed" value="5">
        <label for="OftDepressed5">5</label><br>
        <br>

        <label for="DailyActFluctuate">How frequently does your interest in daily activities fluctuate?</label><br>
        <input type="radio" id="DailyActFluctuate1" name="DailyActFluctuate" value="1">
        <label for="DailyActFluctuate1">1</label>
        <input type="radio" id="DailyActFluctuate2" name="DailyActFluctuate" value="2">
        <label for="DailyActFluctuate2">2</label>
        <input type="radio" id="DailyActFluctuate3" name="DailyActFluctuate" value="3">
        <label for="DailyActFluctuate3">3</label>
        <input type="radio" id="DailyActFluctuate4" name="DailyActFluctuate" value="4">
        <label for="DailyActFluctuate4">4</label>
        <input type="radio" id="DailyActFluctuate5" name="DailyActFluctuate" value="5">
        <label for="DailyActFluctuate5">5</label><br>
        <br>

        <label for="SleepIssues">How often do you face issues regarding sleep?</label><br>
        <input type="radio" id="SleepIssues1" name="SleepIssues" value="1">
        <label for="SleepIssues1">1</label>
        <input type="radio" id="SleepIssues2" name="SleepIssues" value="2">
        <label for="SleepIssues2">2</label>
        <input type="radio" id="SleepIssues3" name="SleepIssues" value="3">
        <label for="SleepIssues3">3</label>
        <input type="radio" id="SleepIssues4" name="SleepIssues" value="4">
        <label for="SleepIssues4">4</label>
        <input type="radio" id="SleepIssues5" name="SleepIssues" value="5">
        <label for="SleepIssues5">5</label><br>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>